<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../img/asset/logo.png" type="image/x-icon">
  <title>PuskeSmart</title>

  <!-- My Main CSS -->
  <link rel="stylesheet" href="../css/myCSS/main-admin.css" />

  <!-- My Main CSS -->
  <link rel="stylesheet" href="../css/myCSS/akun-admin.css">

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- My font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@400;500;600&family=Julius+Sans+One&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

</head>

<body id="page-top" style="font-family: 'Poppins', sans-serif;">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #97C0F7;">

      <!-- Sidebar - Brand -->
      <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <img src="../img/asset/logoVer.png" alt="PuskeSmart" id="logo" class="">
        <img src="../img/asset/logo.png" alt="PuskeSmart" id="logo2" width="40px" class="d-none">
      </div>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 shadow" style="border: 1px solid white; border-radius: 10px;">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard-admin">
          <i class="fa-solid fa-house"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Nav Item - Pendaftaran -->
      <li class="nav-item">
        <a class="nav-link" href="/pendaftaran-admin" style="font-weight: 600;">
          <i class="fa-solid fa-file-invoice"></i>
          <span>Pendaftaran</span></a>
      </li>

      <!-- Nav Item - Informasi -->
      <li class="nav-item">
        <a class="nav-link" href="/informasi-admin" style="font-weight: 600;">
          <i class="fa-solid fa-circle-info"></i>
          <span>Informasi</span></a>
      </li>

      <!-- Nav Item - Ulasan -->
      <li class="nav-item">
        <a class="nav-link" href="/ulasan-admin" style="font-weight: 600;">
          <i class="fa-solid fa-comments"></i>
          <span>Ulasan</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline mt-3">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Title -->
          <div class="d-flex align-items-center mt-2">
            <h1 style="font-size: 1.5rem; font-weight: 600; color: black;">
              Akun Admin
            </h1>
          </div>

        </nav>

        <!-- Section Profile -->
        <form class="container-lg mt-4 mb-5">
          <div class="p-5" style="background-color: #c6dcfa; border-radius: 20px">
            <div class="row align-items-center">
              <div class="col-md-3">
                <img src="../img/asset/kosong.jpg" class="img-thumbnail rounded-circle mx-auto d-block mb-3"
                  alt="Foto Profil" style="width: 180px; height: 180px" id="profile-pic" />
              </div>
              <div class="col-md-9 d-flex">
                <div class="d-block d-sm-flex">
                  <div class="gambar mr-sm-3">
                    <label class="labelFoto btn" for="foto">Perbarui Foto</label>
                    <input class="btn d-none" type="file" accept="image/*" id="foto" name="fotoProfil" />
                  </div>
                  <div class="gambar">
                    <button class="hapusFoto btn" id="hapus-foto">Hapus Foto</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- rows input -->
            <div class="row mt-3">
              <div class="col-md-6">
                <!-- NIP -->
                <div class="form-group">
                  <label for="nip" style="font-weight: bold; color: black">NIP</label>
                  <input type="type" class="form-control" id="nip" style="border: 1px solid black" name="nip"
                    minlength="16" maxlength="16" required />
                  <small id="nip" class="form-text text-muted">Pastikan Anda Memasukan NIP Yang Benar.</small>
                </div>
                <!-- nama Lengkap -->
                <div class="form-group">
                  <label for="nama" style="font-weight: bold; color: black">Nama Lengkap</label>
                  <input type="text" class="form-control" id="nama" style="border: 1px solid black" name="nama"
                    minlength="1" maxlength="128" required />
                </div>
                <!-- Jenis Kelamin -->
                <div class="form-group">
                  <label for="form-check-label" class="col-form-label" style="color: black;">Jenis Kelamin</label>
                  <div class="d-flex">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jenisKelamin" id="jenisKelamin0"
                        value="laki-laki" required>
                      <label class="form-check-label mr-3" for="jenisKelamin0" style="color: black;">
                        Laki-Laki
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jenisKelamin" id="jenisKelamin1"
                        value="perempuan" required>
                      <label class="form-check-label" for="jenisKelamin1" style="color: black;">
                        Perempuan
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Username -->
                <div class="form-group">
                  <label for="userName" style="font-weight: bold; color: black">Username</label>
                  <input type="text" class="form-control" id="username" style="border: 1px solid black" name="username"
                    disabled="true" />
                </div>
                <!-- email -->
                <div class="form-group">
                  <label for="email" style="font-weight: bold; color: black">Email</label>
                  <input type="email" class="form-control" id="email" style="border: 1px solid black" name="email"
                    disabled="true" />
                </div>
                <!-- Alamat -->
                <div class="form-group">
                  <label for="alamat" style="font-weight: bold; color: black">Alamat</label>
                  <input type="text" class="form-control" id="alamat" style="border: 1px solid black" name="alamat"
                    minlength="1" maxlength="128" required />
                </div>
              </div>

              <div class="col-md-6">
                <!-- No Telp -->
                <div class="form-group">
                  <label for="noTel" style="font-weight: bold; color: black">No Telp</label>
                  <input type="tel" class="form-control" id="noTel" style="border: 1px solid black; margin-bottom: 39px"
                    name="noTel" minlength="11" maxlength="16" required />
                </div>
                <!-- Tanggal Lahir -->
                <div class="form-group">
                  <label for="tanggalLahir" style="font-weight: bold; color: black">Tanggal Lahir</label>
                  <input type="date" class="form-control" id="tanggalLahir" style="border: 1px solid black"
                    name="tanggalLahir" required />
                </div>
                <button type="submit" class="btn btn-success float-right" style="margin-top: 250px; font-weight: 600"
                  id="update-btn">
                  Update Profil
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- End Section -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-secondary">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span style="color: white;">Copyright &copy; PuskeSmart, 2024 - Hak Cipta Dilindungi.</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow-lg border-0">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 600;">Apakah kamu yakin ingin kelaur?</h5>
          <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p class="mb-4 text-muted">Klik "Logout" bdi bawah untuk mengakhiri sesi Anda.</p>
          <i class="fas fa-sign-out-alt text-warning fa-3x mb-3"></i>
        </div>
        <div class="modal-footer justify-content-center">
          <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">batal</button>
          <button class="btn btn-danger" id="logout">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- My Main JS -->
  <script src="../js/myJS/main-admin.js"></script>
  <!-- My JS -->
  <script src="../js/myJS/akun-admin.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3659f450a4.js" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>

</body>

</html>