<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pendaftaran Berobat</title>
    </head>
    <body>
        <h1>Pendaftaran Berobat</h1>
        <form action="/api/pendaftaran-berobat" method="POST">
            <label for="fk">idPasien:</label>
            <input type="text" id="fk" name="fk" required /><br /><br />

            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required /><br /><br />

            <label for="keluhan">Keluhan:</label>
            <textarea id="keluhan" name="keluhan" required></textarea><br /><br />

            <label for="poliklinik">Poliklinik:</label>
            <input type="text" id="poliklinik" name="poliklinik" required /><br /><br />

            <label for="alamat">Alamat:</label>
            <input type="text" id="alamat" name="alamat" required /><br /><br />

            <label for="noTel">No. Telepon:</label>
            <input type="tel" id="noTel" name="noTel" required /><br /><br />

            <label for="tanggalLahir">Tanggal Lahir:</label>
            <input type="text" id="tanggalLahir" name="tanggalLahir" required /><br /><br />

            <label for="jenisKelamin">Jenis Kelamin:</label>
            <select id="jenisKelamin" name="jenisKelamin" required>
                <option value="Laki-laki">Pria</option>
                <option value="Perempuan">Wanita</option></select
            ><br /><br />

            <!-- <label for="nik">NIK:</label>
            <input type="text" id="nik" name="nik" required /><br /><br /> -->

            <button type="submit">Daftar</button>
        </form>
    </body>
</html>
