.col-md-6 .labelFoto {
    background-color: #68A3F3;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-6 .labelFoto:hover {
    background-color: #0e4ea6;
    color: white;
}

.col-md-6 .hapusFoto {
    background-color: #FF5757;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 150px;
}

.col-md-6 .hapusFoto:hover {
    background-color: #970a0a;
    color: white;
}