.teks-tengah {
    text-align: center;
    margin-bottom: 40px;
}

.judul {
    font-weight: bold;
    color: black;
}

.wadah {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pembungkus-kartu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.kartu {
    background-color: white;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
}

.kartu:hover {
    transform: translateY(-10px);
}

.gambar-kartu {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.isi-kartu {
    margin-top: 20px;
}

.judul-kartu {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

.teks-kartu {
    font-weight: 400;
    margin-top: 20px;
    color: black;
}

.col-md-8 .btnSection1 {
    font-weight: 600;
    background-color: #1AA365;
}

.col-md-8 .btnSection1:hover {
    background-color: #14593a;
    color: white;
}

.ml-md-5 .btnSection2 {
    font-weight: 600;
    background-color: #1AA365;
}

.ml-md-5 .btnSection2:hover {
    background-color: #14593a;
    color: white;
}