.d-flex .btnYa {
    color: #fff;
    font-weight: 600;
}

.d-flex .btnYa:hover {
    background-color: #135537;
    color: white;
}

.d-flex .btnTidak {
    color: #fff;
    font-weight: 600;
}

.d-flex .btnTidak:hover {
    background-color: #792323;
    color: white;
}

.d-flex .btnLihat {
    background-color: #97c0f7;
    font-weight: 600;
    color: #fff;
}

.d-flex .btnLihat:hover {
    background-color: #1c4173;
    color: white;
}

td .btnPilih {
    background-color: #41E199;
    color: white;
    font-weight: 600;
}

td .btnPilih:hover {
    color: white;
    background-color: #3e594d;
    font-weight: 600;
}

div .btn-kirim {
    background-color: #41E199;
    color: white;
    font-weight: 600;
}

div .btn-kirim:hover {
    color: white;
    background-color: #3e594d;
}

div .btn-mingguan {
    background-color: #5672D8;
    color: white;
    font-weight: 600;
}

div .btn-mingguan:hover {
    background-color: #0f2883;
    color: white;
}

div .btn-bulanan {
    background-color: #5EC58F;
    color: white;
    font-weight: 600;
}

div .btn-bulanan:hover {
    background-color: #207a4c;
    color: white;
}

div .btn-total {
    background-color: #68A3F3;
    color: white;
    font-weight: 600;
}

div .btn-total:hover {
    background-color: #1d61c1;
    color: white;
}