.d-flex .btnYa {
    color: #fff;
    font-weight: 600;
}

.d-flex .btnYa:hover {
    background-color: #135537;
    color: white;
}

.d-flex .btnTidak {
    color: #fff;
    font-weight: 600;
}

.d-flex .btnTidak:hover {
    background-color: #792323;
    color: white;
}

.d-flex .btnLihat {
    background-color: #97c0f7;
    font-weight: 600;
    color: #fff;
}

.d-flex .btnLihat:hover {
    background-color: #1c4173;
    color: white;
}

td .btn-pilih {
    background-color: #41E199;
    color: white;
    font-weight: 600;
}

td .btn-pilih:hover {
    color: white;
    background-color: #3e594d;
    font-weight: 600;
}

div .btn-kirim {
    background-color: #41E199;
    color: white;
    font-weight: 600;
}

div .btn-kirim:hover {
    color: white;
    background-color: #3e594d;
}