.d-flex .btnTambah {
    background-color: #41E199;
    color: black;
    font-weight: 600;
}

.d-flex .btnTambah:hover {
    background-color: #135537;
    color: white;
}

.d-flex .btnLihat {
    background-color: #97C0F7;
    font-weight: 600;
    color: #5A5C68;
}

.d-flex .btnLihat:hover {
    background-color: #1c4173;
    color: white;
}

.d-flex .btnEdit {
    background-color: #6EE8B1;
    margin-left: 10px;
    font-weight: 600;
    color: #5A5C68;
}

.d-flex .btnEdit:hover {
    background-color: #277351;
    color: white;
}

.d-flex .btnHapus {
    background-color: #FF8A8A;
    font-weight: 600;
    color: #5A5C68;
}

.d-flex .btnHapus:hover {
    background-color: #792323;
    color: white;
}